<div class="overflow-hidden bg-white">
  <div class="relative mx-auto max-w-7xl py-4 lg:py-16 px-6 lg:px-8">
    <div
      class="absolute top-0 bottom-0 left-3/4 hidden w-screen bg-gray-50 lg:block"
    >
    </div>
    <div
      class="mx-auto max-w-prose text-base lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-8"
    >
      <div>
        <h3
          class="mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl font-header"
        >
          About Us
        </h3>
      </div>
    </div>
    <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-8">
      <div class="relative lg:col-start-2 lg:row-start-1">
        <svg
          class="absolute top-0 right-0 -mt-20 -mr-20 hidden lg:block"
          width="404"
          height="384"
          fill="none"
          viewBox="0 0 404 384"
          aria-hidden="true"
        >
          <defs>
            <pattern
              id="de316486-4a29-4312-bdfc-fbce2132a2c1"
              x="0"
              y="0"
              width="20"
              height="20"
              patternUnits="userSpaceOnUse"
            >
              <rect
                x="0"
                y="0"
                width="4"
                height="4"
                class="text-gray-200"
                fill="currentColor"></rect>
            </pattern>
          </defs>
          <rect
            width="404"
            height="384"
            fill="url(#de316486-4a29-4312-bdfc-fbce2132a2c1)"></rect>
        </svg>
        <div class="relative mx-auto max-w-prose text-base lg:max-w-none">
          <figure>
            <div class="aspect-w-12 aspect-h-7 lg:aspect-none">
              <img
                class="rounded-lg object-cover object-center shadow-lg"
                src="https://raw.githubusercontent.com/Nfinger/finger-interests/main/uploads/jon-jerry-2.png?token=AEHR23KPEHRSCFAAEO2MDVTDYFW6G"
                alt="Jonathan Finger and Jerry Finger"
                width="1184"
                height="1376"
              />
            </div>
          </figure>
        </div>
      </div>
      <div class="mt-4 lg:mt-0">
        <div
          class="prose mx-auto text-gray-500 lg:col-start-1 lg:row-start-1 lg:max-w-none"
        >
          <p>
            Finger Interests, Ltd. is a single family office located in Houston,
            Texas. The firm specializes in those opportunities to which it may
            add both capital and expertise. The firm invests in marketable
            securities, real estate and alternative investments.
          </p>
          <p>
            In addition, the firm is involved in real estate development,
            business acquisition and merger consultation, business consultation,
            business management consultation, and business organizational
            consulting services.
          </p>
          <p>
            The firm was founded in 1996 by Jerry E. Finger after a successful
            career in banking and real estate development. After Jerry's passing
            in 2016, Jonathan Finger became the managing partner of Finger
            Interests and is responsible for investment decisions and day-to-day
            management of the office. His background includes experience in
            commercial banking, real estate finance and development, investment
            banking, fiduciary and investment management, and principal
            investing.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
